body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
    text-align: center;
}
#clock{
    font-weight: 500;
    font-size: 120px;
    color: #fff;
}
#color{
    font-weight: 300;
    font-size: 30px;
    color: #fff;
}